<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block metablock %}
    {% endblock metablock %}
    <script src="https://use.fontawesome.com/4cfb4dfef7.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-24704798-11', 'auto');
        ga('create', 'UA-71696131-1', 'auto', 'appsTracker');
        ga('send', 'pageview');
        ga('appsTracker.send', 'pageview');

    </script>
    <script>
        function openNav() {
            document.getElementById("nav-scr").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("nav-scr").style.width = "0%";
        }
    </script>
    {% block injectable %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - True/False 2017 - KBIA</title>
</head>
<body>
<header class="kbia-top kbia-top-dark">
    <a href="http://www.kbia.org"><img class="logo" src="/static/img/kbia-wht.png"></a>
    <a onclick="openNav()" class="btn btn-inverse btn-outline-primary float-right nav-trigger-button"><i class="fa fa-bars" aria-hidden="true"></i><span class="hidden-sm-down"> MENU</span></a>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
    <div class="credit">
        <p>Copyright 2017 KBIA and The University of Missouri. Development and Design by Nathan Lawrence.</p>
    </div>
</div>

<div id="nav-scr" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="http://www.kbia.org">Return to KBIA</a>
        <a href="/">View all Films</a>
    </div>

</div>


</body>
</html>